
@{
    ViewBag.Title = "Paivittaismyynti";
}

<h2>Tilastotietoa</h2>


@section scripts {
    <script type="text/javascript">
        //let labelTexts = [@Html.Raw(ViewBag.paivaTieto)];
        let dataValues =  [@ViewBag.myyntiTieto];
        var ctx = document.getElementById('barcanvas').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Ma', 'Ti', 'Ke', 'To', 'Pe', 'La', 'Su'],
                datasets: [{
                    label: 'Viikonpäivä/€ Koko aikaväliltä',
                    data: dataValues,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        //Graafi numero 2
         let labelTexts2 = [@Html.Raw(ViewBag.tuoteTieto)];
        let dataValues2 =  [@ViewBag.salesTieto];
        var ctx = document.getElementById('barcanvas2').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labelTexts2,
                datasets: [{
                    label: 'TOP 10 Myydyintä tuotetta',
                    data: dataValues2,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
}


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
        </div>
        <canvas id="barcanvas"></canvas>
        <canvas id="barcanvas2"></canvas>
    </div>
    <div style="text-align: center">
    </div>
</div>


@{
    Html.RenderPartial("_LoginModal");
}