@{
    ViewBag.Title = "Tietoja";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Tämä web-sovellus on Careerian Tietokantasovelluksen kehitys ja ylläpitokurssin kolmannen oppimispäivän harjoitustehtävä. 
   Tehtävätssä on tarkoituksena ottaa yhteys tietokantaan TilausDB joka luotiin toisen tehtävän yhteydessä ja lisätä sivulle tietokannan
    luku ja muokkaus ominaisuudet. Tehtävänannosta poiketen, tietokantani on Azure pilvipalvelussa, sen sijaan että se sijaitsisi paikallisesti omalla koneellani.
    </p>
