@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rautilantie 8<br />
    23500 Uusikaupunki<br />
    <abbr title="Puhelin">P:</abbr>
    0400883868
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:sakling@live.com">sakling@live.com</a><br />
    
</address>